{% extends "alayout.html" %}
{% block title %}Admin{% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="page-header">Admin Items</h2>
        <form class="navbar-form navbar-left" role="search" action="{{ url_for('gp') }}" method="post">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="1" name='n'>
          </div>
          <button type="submit" class="btn btn-default">Add Project</button>
        </form> 
        <form class="navbar-form navbar-left" role="search" action="{{ url_for('dp') }}" method="post">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="1" name='n'>
          </div>
          <button type="submit" class="btn btn-default">Kill Project</button>
        </form> 
      </div>
    </div>
  </div>
{% endblock %}
