{% extends "alayout.html" %}
{% block title %}Admin{% endblock %}
{% block headjs %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
  <script type='text/javascript' src='/js/uploadImage.js'></script>

{% endblock headjs %}
{% block body %}
  <div ng-app="formApp" class="container" >
    <div class="row">
      <div class="">
        <h2 class="page-header">Admin:</h2>
        <div class="col-sm-4 portfolio-item" >
          <p><b>Projects Number: {{ project_num }}</b><p>
        </div>
        
        <!--project list-->
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Client</th>
                <th>Image</th>
              </tr>
            </thead>
            <tbody>
              {% for project in projects %}
              <tr class="{{ cls[project.id] }}">
                <td>{{ project.title }}</td>
                <td>{{ project.client }}</td>
                <td><img src="{{ project.image_url }}" class="img-rounded" alt="Cinque Terre" width="80" height="50"></td>
              </tr>
              {% else %}
              no projects
              {% endfor %}
            </tbody>
          </table>
        </div>
        
        <!--generate project-->
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-sm-4 portfolio-item" >
              <form class="navbar-form navbar-left" role="search" action="{{ url_for('gp') }}" method="post">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="1" name='n'>
                </div>
                <button type="submit" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Add Project</button>
              </form> 
            </div>
          </div>
        </div>

        <!--kill project-->
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-sm-4 portfolio-item" >
              <form class="navbar-form navbar-left" role="search" action="{{ url_for('dp') }}" method="post">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="1" name='n'>
                </div>
                <button type="submit" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Kill Project</button>
              </form> 
            </div>
          </div>
        </div>



        <!--admin broadcast message-->
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-sm-4 portfolio-item" >
              <form class="navbar-form navbar-left" role="search" action="{{ url_for('bc') }}" method="post">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Title" name="title">
                  <textarea class="form-control" rows="5" placeholder="Body" name="body"></textarea>
                  <label>User Email:</label>
                  <select class="form-control" data-style="btn-success" name="to">
                    <option value="">All Users</option>
                    {% for user in users %}
                    <option value="{{user.id}}">{{user.username}} [{{user.email}}]</option>
                    {% endfor %}
                  </select>
                </div>
                <button type="submit" class="btn btn-info btn-lg">
                  <span class="glyphicon glyphicon-leaf"></span> Broadcast
                </button>
              </form>
            </div>
          </div>
        </div>

        <!--test angular img src-->
        <div ng-app="textApp" class="col-sm-4 portfolio-item">
 
          <p>Input something in the input box:</p>
          <p>Name: <input type="text" ng-model="name"></p>
          <p ng-bind="name"></p>

          <img ng-src="{{ name|angular }}">
        </div>

        <!-- TO ADD A PROJECT TO ONE OWNER -->
        <h4>Add Project to Client</h4>
        <div ng-controller="formController">
          <form ng-submit="processForm()">
            <!-- PROJECT TITLE -->
            <div id="title-group" class="form-group" ng-class="{ 'has-error' : errorTitle }">
              <label>Title</label>
              <input type="text" name="title" class="form-control" placeholder="Project Title" ng-model="formData.title">
              <span class="help-block" ng-show="errorTitle">{{ errorTitle|angular }}</span>
            </div>

            <!-- PROJECT DESCRIPTION -->
            <div id="desp-group" class="form-group" ng-class="{ 'has-error' : errorDesp }">
              <label>Description</label>
              <input type="text" name="desp" class="form-control" placeholder="Project Description" ng-model="formData.desp">
              <span class="help-block" ng-show="errorDesp">{{ errorDesp|angular }}</span>
            </div>

            <!-- PROJECT INCENTIVE -->
            <div id="incentive-group" class="form-group" ng-class="{ 'has-error' : errorIncentive }">
              <label>Incentive</label>
              <input type="text" name="incentive" class="form-control" placeholder="Project Incentive" ng-model="formData.incentive">
              <span class="help-block" ng-show="errorIncentive">{{ errorIncentive|angular }}</span>
            </div>

            <!-- PROJECT IMAGE -->
            <div id="image-group" class="form-group" ng-class="{ 'has-error' : errorImage }">
              <label>Image Url</label>
              <input type="text" name="image" class="form-control" placeholder="https://www.google.com.hk/images/nav_logo195.png" ng-model="formData.image">
              <span class="help-block" ng-show="errorImage">{{ errorImage|angular }}</span>
            </div>

            <!-- PROJECT CLIENT -->
            <div id="client-group" class="form-group" ng-class="{ 'has-error' : errorClient }">
              <label>Project Client</label>
              <select class="form-control" data-style="btn-success" name="client" ng-model="formData.client">
                {% for client in clients %}
                <option value="{{client.id}}">{{client.name}} [{{client.email}}]</option>
                {% endfor %}
              </select>
            </div>

            <!-- SUBMIT BUTTON -->
            <button type="submit" class="btn btn-success btn-lg btn-block">
              <span class="glyphicon glyphicon-flash"></span> Submit!
            </button>
          </form>

          <!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->
          <div class="col-sm-4 portfolio-item" >
            <pre>
              <p>formData preview:</p>
              {{ formData|angular }}
              <p>project image preview:</p>
              <img ng-src="{{ formData.image|angular }}" autofocus class="img-responsive img-centered" alt="">
            </pre>
          </div>
        </div>
        
        <!--UPLOAD IMAGE SECTION-->
        <div ng-controller = "myCtrl">
          <input type="file" file-model="myFile"/>
          <button ng-click="uploadFile()">upload me</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
