{% extends "alayout.html" %}
{% block title %}Admin{% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="page-header">Admin:</h2>
        <div class="col-sm-4 portfolio-item" >
          <p><b>Projects Number: {{ project_num }}</b><p>
        </div>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Icon</th>
                <th>Client</th>
                <th>Image</th>
              </tr>
            </thead>
            <tbody>
              {% for project in projects %}
              <tr class="{{ cls[project.id] }}">
                <td>{{ project.title }}</td>
                <td><img src="{{ project.icon }}" class="img-circle" alt="Cinque Terre" width="50" height="50"></td>
                <td>{{ project.client }}</td>
                <td><img src="{{ project.image_url }}" class="img-rounded" alt="Cinque Terre" width="80" height="50"></td>
              </tr>
              {% else %}
              no projects
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-sm-4 portfolio-item" >
          <form class="navbar-form navbar-left" role="search" action="{{ url_for('gp') }}" method="post">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="1" name='n'>
            </div>
            <button type="submit" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Add Project</button>
          </form> 
        </div>
        <div class="col-sm-4 portfolio-item" >
          <form class="navbar-form navbar-left" role="search" action="{{ url_for('dp') }}" method="post">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="1" name='n'>
            </div>
            <button type="submit" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Kill Project</button>
          </form> 
        </div>
        <div ng-app="" class="col-sm-4 portfolio-item">
 
          <p>Input something in the input box:</p>
          <p>Name: <input type="text" ng-model="name"></p>
          <p ng-bind="name"></p>

          <img ng-src="{{ name|angular }}">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
