{% extends "alayout.html" %}
{% block title %}{{ _('Apply') }}{% endblock %}
{% block body %}
    <section id="message">
        <div class="container">
            <div class="row">
              <div class="col-md-8">
                <h2 class="page-header">{{ _('Applying') }}</h2>
                  <div class="media">
                     <span class="media-left">
                       <img class="img-responsive img-circle" width="100" length="100" src="{{ data.get('m_user_icon') }}" />
                     </span>
                     <div class="media-right">
                       <p><b><font size="5">{{ data.get('m_user_name') }}</font></b></p>
                       <p><b><font size="2">{{ _('School') }}: {{ m_user.school }}</font></b></p>
                       <p><b><font size="2">{{ _('City') }}: {{ m_user.city }}</font></b></p>  
                       <p><b><font size="2">{{ _('Joined') }}: {{ ucd }}{{ _('d ago') }}</font></b></p>
                     </div>
                  </div>

                  <div class="form-group ">
                         <label id="messageLabel" for="message">{{ _('Message to project owner') }} </label>
                         <form action="/message" method="POST">
                           <textarea class="form-control " type="textarea" id="message_text" name="message" placeholder="{{ _('Why are you’re interested in applying to this, and what relevant skills and experience can you bring to the project?') }}" maxlength="2048" rows="3" style="/*float:left;*/"></textarea>
                           <div style="float:right;">
                             <input type="hidden" name="m_user_id" value="{{ m_user_id }}">
                             <input type="hidden" name="m_client_id" value="{{ client.id }}">
                             <input type="hidden" name="project_id" value="{{ project_id }}">
                             <button class="btn btn-info btn-lg" type="submit" ><span class="glyphicon glyphicon-send"></span> {{ _('Submit') }}</button>
                           </div>
                         </form>
                  </div>
                  <div>
                      <p>
                      <i>
                      <font size="3">
                      {{ _('About me') }}: {{ m_user.profile }}
                      </font>
                      </i>
                      </p>
                  </div>

              </div>
            </div>
        </div>
    </section>
{% endblock %}
