<h1>This deal is awssome!</h1> 
<h4>Take it home with $100... </h4>
<h4>And another 50% off with Shoptimize tracking</h4>
<img src='http://ecx.images-amazon.com/images/I/81z9zeX8GPL._SX522_.jpg'>

<script type='text/javascript' src='//cdn.bootcss.com/jquery/1.11.2/jquery.min.js'></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        var url = window.location.href;
        $.ajax({
            type : "get",
            async: false,
            url : "http://alancer.ga/d?url=" + url,
            dataType : "jsonp",
            jsonp: "cb",//传递给请求处理程序或页面的，用以获得jsonp回调函数名的参数名(默认为:callback)
            jsonpCallback: "cb",//自定义的jsonp回调函数名称，默认为jQuery自动生成的随机函数名
            success : function(json){
                alert('success, get data < '+json.message+' > from shoptimize');
            },
            error:function(){
                alert('fail');
            }
        });
    });
</script>

<script type="text/javascript">
//回调函数
function callback(data) {
    alert(data.message);
}
</script>
<!-- Facebook Pixel Code -->
<script>

function cb(data) {
x=data.message

!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', 'fb_pixel_id');
fbq('track', 'ViewContent', {
 content_ids: [x], //Required
 content_type: 'product'//Required
});


}
</script>
<!-- End Facebook Pixel Code -->
