{% extends "alayout.html" %}
{% block title %}{{ _('Forgot password') }}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                          <h3 class="text-center">Forgot Password?</h3>
                          <p>Please provide the email address that you used when you signed up for your Alancer account. We will send you an email that will allow you to reset your password.</p>
                            <div class="panel-body">
                              
                              <form class="form-resetpassword" method="post" action="/sendresetemail">
                                <fieldset>
                                  <div class="form-group">
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                      <input id="email" placeholder="email address" class="form-control" type="email" name="email" oninvalid="setCustomValidity('Please enter a valid email address!')" onchange="try{setCustomValidity('')}catch(e){}" required="">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <button class="btn btn-lg btn-primary btn-block" 
                                    	type="submit">{{ _("Send My Password") }} </button>
                                  </div>
                                </fieldset>
                              </form>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}