{% extends "alayout.html" %}
{% block headjs %}
<script src="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.js"></script>
<link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css"/>
<script>
  Dropzone.options.imgUpload = {
    dictDefaultMessage: "{{ _('Drag your project/company logo here---->') }}",
    acceptedFiles: "image/*", // Accept images only
    //maxFiles: "1",
    addRemoveLinks: "true",
    maxFilesize: 3,
  };
</script>
{% endblock headjs %}
{% block title %}{{ _('JD Confirm') }}{% endblock %}
{% block body %}
    <!-- Project Grid Section -->
    <section id="portfolio">
      <div class="container">
        <div class="row">
          <div>
            <form action="/upload_jd_img?pid={{ project.id }}" class="dropzone" id="img-upload">
            </form>
            {% if project %}
              <div class="col-sm-4 portfolio-item" >
                <img autofocus src="{{ project.image_url }}" class="img-responsive img-centered" alt="">
                <div id="loctimebox">
                  <p class="alignleft" style="float:left;"><i>{{ project.location }}</i></p>
                  <p class="alignright" style="float:right;"><i>{{ puds[project.id] }}{{ _("d ago") }}</i></p>
                </div>
                <div style="clear: both;"></div>
                <p><b>{{ _("Want to launch") }}: </b>{{ project.desp }}</p>
                <p><b>{{ _("Get") }}: </b>{{ project.incentive }}</p>
                <p><b>{{ _('Valid time') }}: </b>{{ project.valid_time }}</p>
                <div class="col-md-5 col-sm-4 col-xs-5">
                  <img class=" img-circle" src="{{ pics[project.id] }}" width="70" height="70" >
                </div>
                <p><b>{{ project.client}}</b></p>
                <p>{{ project.client_title }}</p>
                <div style="clear: both;"></div>
                <p style="text-align: center"><b>{{ _('Company') }}</b>: {{ client.company }}</p>
                <HR style="FILTER: alpha(opacity=10,finishopacity=0,style=2)" width="90%" color=#987cb9 SIZE=10>
              </div>
            {% endif %}
          </div>
        </div>
        <form method="get" action='/jd_publish'>
          <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _("Publish JD") }}</button>
        </form>
      </div>
    </section>

{% endblock %}
