{% extends "alayout.html" %}
{% block headjs %}
<script src="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.js"></script>
<link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css"/>

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/js/bootstrap-select.min.js"></script>
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/css/bootstrap-select.min.css' type='text/css' media='all' />
<script>  $('.selectpicker').selectpicker();</script>


<script>
  Dropzone.options.imgUpload = {
    dictDefaultMessage: "{{ _('Please upload your company logo') }}",
    acceptedFiles: "image/*", // Accept images only
    //maxFiles: "1",
    addRemoveLinks: "true",
    maxFilesize: 3,
    init: function() {
      this.on("success", function(file, response) {
        alert("{{ _('Image uploaded') }}");
        var icon = $("#domain").val()+response.key;
        $("#jd_icon").attr("src", icon+'?'+Math.random());
        $("#icon").val(icon);
        $("#jd_icon").show();
      });
    }
  };
</script>
{% endblock headjs %}
{% block title %}{{ _('POST JD') }}{% endblock %}
{% block body %}
<div class="container" style="padding-top: 30px;" >
  <!-- edit form column -->
    <section>
      <div align="center">
        <h4>{{ _("Now create the JD you want to post.") }}</h4>
        <input id='domain' value="http://7xlcr1.com1.z0.glb.clouddn.com/" type="hidden">
        <form action="http://upload.qiniu.com/" class="dropzone" id="img-upload">
          <input name="key" type="hidden" value="{{ key }}" id="key">
          <input name="token" type="hidden" value="{{ token }}" id="token">
        </form>

        <img src="" autofocus class="img-circle center-block" width=200 height=200 alt="" id="jd_icon" style="display: none;">

        <form class="form-signin">
          <input class="form-control" name="icon" id="icon" type="hidden" value="">
          <input class="form-control" name="company" id="company" type="text" placeholder={{ _('Company name') }} required>   
          <select class="selectpicker show-tick" data-style="btn-success" id="location">
            <option>{{ _('Beijing') }}</option>
            <option>{{ _('Shanghai') }}</option>
            <option>{{ _('Hangzhou') }}</option>
            <option>{{ _('Shenzhen') }}</option>
            <option>{{ _('Guangzhou') }}</option>
            <option>{{ _('Chengdu') }}</option>
            <option>{{ _('Other') }}</option>
          </select>
          <select class="selectpicker show-tick" data-style="btn-info" id="role">
            <option>Frontend Engineer</option>
            <option>Devops</option>
            <option>Designer</option>
            <option>UX</option>
            <option>Backend</option>
          </select>


          <input class="form-control" name="start" id="start" type="text" placeholder={{ _('Start date') }} required>
          <input class="form-control" name="duration" id="duration" type="text" placeholder={{ _('Duration') }} required>
          <input class="form-control" name="pitch" id="pitch" type="text" placeholder={{ _('Project pitch: why should people care?') }} required>
          <input class="form-control" name="incentive" id="incentive" type="text" placeholder={{ _('Salary or other incentives?') }} required>
          <input class="form-control" name="other" id="other" type="text" placeholder={{ _('Other requirements? (optional, hidden by default)') }} required>
        </form>
        <button class="btn btn-primary" type="button" id="submit">{{ _('Next') }}</button>
        <span></span>
      </div>
    </section>

<script>
  window.jQuery(document).ready(function($) {
    $("#submit").click(function() {
      var icon=$("#icon").val();
      var company=$("#company").val();
      var location=$(".selectpicker#location").val();
      var role=$(".selectpicker#role").val();
      var icon=$("#icon").val()
      var icon=$("#icon").val()
      var icon=$("#icon").val()
      var icon=$("#icon").val()
      var city=$(".selectpicker#city").val();
      var name=$("#name").val();
      var company=$("#company").val();
      var title=$("#title").val();
      if (!city || !name || !company || !title){
        alert("{{ _('Parameters required') }}");
        return
      }
      $.ajax({
        url: '/add_jd_info',
        type: 'POST',
        data: {'city': city,
               'name': name,
               'company': company,
               'title': title,
              },
        success: function (result) {
            //alert(result);
            window.location.href='/confirm_candidate_info';
        }
      });
    });    
  }); 
</script>
{% endblock %}
