{% extends "alayout.html" %}
{% block title %}Like Project{% endblock %}
{% block body %}
    <section id="like">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body" style="text-align: center;">
                        <h2>{{ project.title }}</h2>
                        <hr class="star-primary">
                        <img src="{{ project.image_url }}" class="img-responsive img-centered" alt="">
                        <p>{{ project.desp }}</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong>{{ project.client }}
                                </strong>
                            </li>
                            <li>Date:
                                <strong>{{ project.create_time }}
                                </strong>
                            </li>
                            <li>Service:
                                <strong>{{ project.service }}
                                </strong>
                            </li>
                        </ul>
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Message</label>
                            <form action="/like_submit" method="POST">
                                <textarea maxlength="1024" rows="3" class="form-control"  name="messge" placeholder="Why I'm interested in this project?" id="message" required="" data-validation-required-message="Please enter a message." aria-invalid="false"></textarea>
                                <p class="help-block text-danger"></p>
                                <button class="btn btn-info btn-lg" type="submit" ><span class="glyphicon glyphicon-ok"></span> Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
