<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>美妞12356</title>

<link rel='stylesheet' href='style.css' media='screen' />

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="js/blocksit.min.js"></script>

<script type="text/javascript">
conWidth = 880;
col = 1;
$('#container').width(conWidth);
$('#container').BlocksIt({
    numOfCol: col,
    offsetX: 8,
    offsetY: 8
});
$(function(){
    $("img.lazy").lazyload({        
        load:function(){
            $('#container').BlocksIt({
                numOfCol:1,
                offsetX: 8,
                offsetY: 8
            });
        }
    });    
    $(window).scroll(function(){
            // 当滚动到最底部以上50像素时， 加载新内容
        if ($(document).height() - $(this).scrollTop() - $(this).height()<250){
            console.log('aaa')
            /*
            $('#container').append($("#test").html());        
            $('#container').BlocksIt({
                numOfCol:1,
                offsetX: 8,
                offsetY: 8
            });
            $("img.lazy").lazyload();
           */
            $.ajax({
                url: '/query',
                type: 'POST',
                data: {'last_id': 1
                      },
                success: function (result) {
                    console.log(result);
                    //$('#container').html(result)
                    $('#container').append(result);        
                    $('#container').BlocksIt({
                        numOfCol:1,
                        offsetX: 8,
                        offsetY: 8
                    });
                    $("img.lazy").lazyload();
                    
                }
            });
            
        }
    });
    
    //window resize
    var currentWidth = 1100;
    $(window).resize(function() {
        var winWidth = $(window).width();
        //alert(winWidth);
        var conWidth;
        if(winWidth < 660) {
            conWidth = 440;
            col = 1
        } else if(winWidth < 880) {
            conWidth = 660;
            col = 1
        } else if(winWidth < 1100) {
            conWidth = 880;
            col = 1;
        } else {
            conWidth = 1100;
            col = 1;
        }
        
        if(conWidth != currentWidth) {
            currentWidth = conWidth;
            $('#container').width(conWidth);
            $('#container').BlocksIt({
                numOfCol: col,
                offsetX: 8,
                offsetY: 8
            });
        }
    });
});
</script>
</head>
<body>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- mei2356 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-8081826483618993"
     data-ad-slot="8217068865"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div id="wrapper">

    <div id="container">
        <div class="grid">
            <div class="imgholder"><img class="lazy" src="images/pixel.gif"   /></div>
            <h4><strong>mei12356.com</strong></h4>
            <h4>美妞12356</h4>
        </div>
        {% for im in ims %}
        <div class="grid">
            <div class="imgholder"><img class="lazy" src="images/pixel.gif" data-original="{{ im.thumbnail_src }}"  /></div>
            <strong>{{ im.inst_code }}</strong>
            <p>美妞12356</p>
        </div>
        {% endfor %}
    </div>

</div>

</body>
</html>
