<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="baidu_union_verify" content="1fbc774f7bdaad853cf1ededc3bf56e9">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="propeller" content="b573843d5ab3931695b7a6767adf1efa" />
<title>美妞12356</title>

<link rel='stylesheet' href='http://ac-9dv47dhd.clouddn.com/c1552503fa82eaaaee53.css' media='screen' />

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery_lazyload/1.8.4/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="http://ac-9dv47dhd.clouddn.com/73dc1252eae83cc9f2b7.js"></script>
<style type="text/css">
    iframe{width:100% !important;
           height:100% !important;}
</style>
<script type="text/javascript">
conWidth = 880;
col = 1;
$('#container').width(conWidth);
$('#container').BlocksIt({
    numOfCol: col,
    offsetX: 8,
    offsetY: 8
});
$(function(){
    $("img.lazy").lazyload({        
        load:function(){
            $('#container').BlocksIt({
                numOfCol:1,
                offsetX: 8,
                offsetY: 8
            });
        }
    });    
    $(window).scroll(function(){
            // 当滚动到最底部以上50像素时， 加载新内容
        if ($(document).height() - $(this).scrollTop() - $(this).height()<250){
            //console.log('aaa')
            /*
            $('#container').append($("#test").html());        
            $('#container').BlocksIt({
                numOfCol:1,
                offsetX: 8,
                offsetY: 8
            });
            $("img.lazy").lazyload();
           */
            $.ajax({
                url: '/query',
                type: 'POST',
                data: {'last_id': 1
                      },
                success: function (result) {
                    //console.log(result);
                    //$('#container').html(result)
                    $('#container').append(result);        
                    $('#container').BlocksIt({
                        numOfCol:1,
                        offsetX: 8,
                        offsetY: 8
                    });
                    $("img.lazy").lazyload();
                    
                }
            });
            
        }
    });
    
    //window resize
    var currentWidth = 1100;
    $(window).resize(function() {
        var winWidth = $(window).width();
        //alert(winWidth);
        var conWidth;
        if(winWidth < 660) {
            conWidth = 440;
            col = 1
        } else if(winWidth < 880) {
            conWidth = 660;
            col = 1
        } else if(winWidth < 1100) {
            conWidth = 880;
            col = 1;
        } else {
            conWidth = 1100;
            col = 1;
        }
        
        if(conWidth != currentWidth) {
            currentWidth = conWidth;
            $('#container').width(conWidth);
            $('#container').BlocksIt({
                numOfCol: col,
                offsetX: 8,
                offsetY: 8
            });
        }
    });
});
</script>
</head>
<body>
<div id="wrapper">
    <div id="container" align="center">
        <div class="grid">
            <div class="imgholder"><img class="lazy" src="http://ac-9dv47dhd.clouddn.com/4d66dbf20b9b68609551.gif"   /></div>
            <font size="7" face="Verdana">
            <a href="https://mei12356.com">
            mei12356.com
            </a>
            </font>
            <strong>
            <font size="10" face="Verdana">
            美妞12356
            </font>
            </strong>
        </div>
        <div class="grid">
            <p>美图{{ mc }}张 📷 {{ mc }} photos📷 </p>
            <p>网站免费，无广告🈚️ </p>
            <p>free web service, no ad, consider to support</p>
            <div id="appnextiframe"></div>
        </div>
        {% for im in ims %}
        <div class="grid">
            <div class="imgholder"><img class="lazy" src="http://ac-9dv47dhd.clouddn.com/4d66dbf20b9b68609551.gif" data-original="{{ 'https://ig-s-c-a.akamaihd.net/hphotos-ak-xat1/t51.2885-15/s640x640/sh0.08/e35/c0.134.1080.1080/' + im.thumbnail_src.split('/')[-1] }}"  /></div>
            <strong>{{ im.inst_code }}</strong>
            <p>美妞12356</p>
        </div>
        {% endfor %}
    </div>

</div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96906044-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
