{% extends "alayout.html" %}
{% block title %}{{ _('Message') }}{% endblock %}
{% block headjs %}
<link href="css/message.css" rel="stylesheet">
<link href="css/scroll-more.css" rel="stylesheet">
<script src="js/jquery.js"></script>
<script type='text/javascript' src='/js/scroll-more.js'></script>
{% endblock headjs %}
{% block body %}
<section id="message">
  <div id="loader"></div>
  <div class="container">
    <div class="row">
      <h2 class="page-header">
        {{ _('Messages') }}
      </h2>
      <div class="col-md-8" id="scroll-container">
        {% for message in messages %}
        {% if message.flag==Message.MESSAGE_USER %}
        <div class="col-md-10 col-sm-10 col-xs-9">
          <div class="bubble bubble--alt">
            <p>
              {{ message.message }}
            </p>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-3">
          <img class="img-responsive" src="{{ data.get('m_user_icon') }}" width="40" height="40"/>
        </div>
        <div style="clear: both;">
        </div>
        {% else %}
        <div class="col-md-2 col-sm-2 col-xs-3">
          <img class="img-responsive" src="{{ data.get('m_client_icon') }}" width="40" height="40"/>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-9">
          <div class="bubble">
            <p>
              {{ message.message }}
            </p>
          </div>
        </div>
        <div style="clear: both;">
        </div>
        {% endif %}
        {% else %}
        <li>
          <em>
            {{ _("There's no message so far.") }}
          </em>
        </li>
        {% endfor %}
        
        <div class="form-group" id="page-bottom">
          <label id="messageLabel" for="message">
            {{ _('Message') }} 
          </label>
          <form action="/message" method="POST">
            <textarea class="form-control " type="textarea" id="message_text" name="message" placeholder="{{ _('Message') }}" maxlength="2048" rows="3" style="/*float:left;*/">
            </textarea>
            <div style="float:right;">
              <input type="hidden" name="m_user_id" value="{{ m_user_id }}">
              <input type="hidden" name="m_client_id" value="{{ client.id }}">
              <input type="hidden" name="project_id" value="{{ project_id }}">
              <button class="btn btn-info btn-lg" type="submit" >
                <span class="glyphicon glyphicon-send">
                </span>
                {{ _('Send') }}
              </button>
            </div>
          </form>
        </div>
    </div>
  </div>
    <!-- These are all the links that can be loaded. -->
    <div id="pages">
      <a href="{{url_for('message_room', m_user_id=m_user_id, m_client_id=client.id)}}"></a>
    </div>
</div>
</section>
{% endblock %}
