{% extends "alayout.html" %}
{% block title %}{{ _('Message') }}{% endblock %}
{% block headjs %}
  <link href="css/message.css" rel="stylesheet">
{% endblock headjs %}
{% block body %}
<section id="message">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="page-header">
          {{ _('Messages') }}
        </h2>
        <div class="col-md-4 col-sm-4 col-xs-5">
          <figure class="thumbnail">
            <img class="img-responsive" src="{{ data.get('m_user_icon') }}" />
            <figcaption class="text-center">
              {{ data.get('m_user_name') }}
            </figcaption>
          </figure>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-11">
          <div class="panel panel-default arrow right">
            <div class="panel-body-right">
              <header class="text-left">
                <div class="comment-user">
                  <i class="fa fa-user">
                  </i>
                  {{ data.get('m_user_name') }}
                </div>
              </header>
              <div class="comment-post">
                <p>
                  {{ _('Profile') }}: {{ m_user.profile }}
                </p>
                <p>
                  {{ _('School') }}: {{ m_user.school }}
                </p>
                <p>
                  {{ _('City') }}: {{ m_user.city }}
                </p>
                <p>
                  {{ _('Jonied') }}: {{ ucd }}{{ _('d ago')}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <section class="comment-list">
          {% for message in messages %}
          {% if message.flag==Message.MESSAGE_USER %}
          <article class="row">
            <div class="col-md-10 col-sm-10 col-xs-9">
              <div class="from-me">
                <p>
                  {{ message.message }}
                </p>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
              <img class="img-responsive" src="{{ data.get('m_user_icon') }}" width="40" height="40"/>
            </div>
          </article>
          {% else %}
          <article class="row">
            <div class="col-md-2 col-sm-2 col-xs-3">
              <img class="img-responsive" src="{{ data.get('m_client_icon') }}" width="40" height="40"/>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-9">
              <div class="from-them">
                <p>
                  {{ message.message }}
                </p>
              </div>
            </div>
          </article>
          {% endif %}
          {% else %}
          <li>
            <em>
              {{ _("There's no message so far.") }}
            </em>
            {% endfor %}
            
            <div class="form-group ">
              <label id="messageLabel" for="message">
                {{ _('Message') }} 
              </label>
              <form action="/message" method="POST">
                <textarea class="form-control " type="textarea" id="message_text" name="message" placeholder="{{ _('Message') }}" maxlength="2048" rows="3" style="/*float:left;*/">
                </textarea>
                <div style="float:right;">
                  <input type="hidden" name="m_user_id" value="{{ m_user_id }}">
                  <input type="hidden" name="m_client_id" value="{{ client.id }}">
                  <input type="hidden" name="project_id" value="{{ project_id }}">
                  <button class="btn btn-info btn-lg" type="submit" >
                    <span class="glyphicon glyphicon-send">
                    </span>
                    {{ _('Send') }}
                  </button>
                </div>
              </form>
            </div>
          </section>
      </div>
    </div>
  </div>
</section>
{% endblock %}