{% extends "alayout.html" %}
{% block title %}Message box{% endblock %}
{% block body %}
  <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2 class="page-header">Message box</h2>
            <ul class="list-group">
              {% for mi in message_items %}
              <a href="{{ url_for('message_room', m_user_id=mi['m_user_id'], m_client_id=mi['m_client_id']) }}">
                <li class="list-group-item">
                  {% if mi['new'] %}
                  <span class="badge"> new !!! </span>
                  {% else %}
                  <span class="badge"> {{ mi['days'] }}d </span>
                  {% endif %}
                  {{ '【%s】 and 【%s】: %s' % (mi['m_username'], mi['m_client_name'], mi['message']) }}
                </li>
              </a>
              {% else %}
                <li><em>There's no message so far.</em>
              {% endfor %}
            </ul>
        </div>
      </div>
  </div>
{% endblock %}
