{% extends "alayout.html" %}
{% block headjs %}
<script src="//cdn.bootcss.com/angular.js/1.3.15/angular.min.js"></script>
<link rel='stylesheet' href='css/loading-bar.min.css' type='text/css' media='all' />
<script type='text/javascript' src='js/loading-bar.min.js'></script>
<script type='text/javascript' src='/js/uploadImage.js'></script>
{% endblock headjs %}
{% block title %}{{ _('Profile') }}{% endblock %}
{% block body %}
<div class="container" style="padding-top: 100px;" ng-app="formApp">
  <!-- edit form column -->
  <div class="personal-info">

    <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a> 
      <i class="fa fa-coffee"></i>
      {{ _('Please complete your information') }}
    </div>

    <div class="form-group">
      <div class="text-center" ng-controller = "myCtrl">
        <h6>{{ _('Pleas upload your own icon') }}</h6>
        <input type="file" name="image" file-model="myFile" class="text-center center-block well well-sm"/>
        <button class="btn btn-primary" ng-click="uploadFile()">{{ _('upload me') }}</button>
      </div>
    </div>

    <form class="form-horizontal" role="form" method="post" action="/edit_profile">

      <div ng-controller="formController">
        <img ng-init="formData.image='{{ user.icon }}'" ng-src="{{ formData.image|angular }}" autofocus class="avatar img-thumbnail img-circle img-responsive img-centered" alt="{{ _('no new icon') }}">
        <input class="form-control" name="icon" id = "icon" value="{{ formData.image|angular }}" type="hidden">
      </div>

      <h3>{{ _('Personal Info') }}</h3>

      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('First Name') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" name="firstname" id = "firstname" value="{{ user.firstname }}" type="text" placeholder={{ _('Mike') }}>
        </div>
      </div>	
      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Last name') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" name="lastname" id="lastname" value="{{ user.lastname }}" type="text" placeholder={{ _('Zhang') }}>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('School') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" name="school" id="school" value="{{ user.school }}" type="text" placeholder={{ _('University of Hello') }}>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('City') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" name="city" id="city" value="{{ user.city }}" type="text" placeholder={{ _('Beijing') }}>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Country') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" name="country" id="country" value="{{ user.country }}" type="text" placeholder={{ _('China') }}>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Reference url') }} 1:</label>
        <div class="col-lg-8">
          <input class="form-control" name="refer1" id="refer1" value="{{ user.refer1 }}" type="text" placeholder="http://google.com">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Reference url') }} 2:</label>
        <div class="col-lg-8">
          <input class="form-control" name="refer2" id="refer2" value="{{ user.refer2 }}" type="text" placeholder="http://linkedin.com">
        </div>
      </div>
      {#
      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Zip Code') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" name="zipcode" id="zipcode" value="{{ user.zipcode }}" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Phone') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" name="phone" id="phone" value="{{ user.phone }}" type="text">
        </div>
      </div>
      #}
      <div class="form-group">
        <label class="col-md-3 control-label">{{ _('Profile') }}:</label>
        <div class="col-md-8">
          <textarea class="form-control input-sm " name="profile" id="profile" type="textarea" maxlength="140" rows="4" placeholder={{ _('blablabla...') }}>{{ user.profile }}</textarea>
          <div id="textarea_feedback"></div>
        </div>
      </div>

      <h3>{{ _('Account Info') }}</h3>

      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Username') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" id="username" name="username" value="{{ user.username }}" type="text">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Email') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" id="email" name="email" value="{{ user.email }}" type="text">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">{{ _('Created time') }}:</label>
        <div class="col-md-8">
          <label class="form-control" name="createtime" id="createtime" type="text">{{ user.create_time|dformat }}</label>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <button class="btn btn-primary" type="submit">{{ _('Save Changes') }}</button>
          <span></span>
          <a href="/"><input class="btn btn-primary" value={{ _('Cancel') }} type="button"></a>
        </div>
      </div>
    </form>
  </div>
</div>	
<script type='text/javascript' src='http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js'></script>
<script>
$(document).ready(function() {
    var text_max = 140;
    $('#textarea_feedback').html(text_max - $('#profile').val().length + "{{ _(' characters remaining') }}");

    $('#profile').keyup(function() {
        var text_length = $('#profile').val().length;
        var text_remaining = text_max - text_length;

        $('#textarea_feedback').html(text_remaining + "{{ _(' characters remaining') }}");
    });
});
</script>
{% endblock %}
