{% extends "alayout.html" %}
{% block headjs %}
{% endblock headjs %}
{% block title %}{{ _('Profile') }}{% endblock %}
{% block body %}
<div class="container" style="padding-top: 50px;" >
  <!-- edit form column -->
    <div>
      <h4>{{ _("Let's setup your job seeker profile.") }}</h4>
      <h6>{{ _('All fields are required.') }}</h6>
      <form class="form-signin" method="post" action="/add_candidate_info">
        <input class="form-control" name="name" id="name" type="text" placeholder={{ _('Name') }} required>
        <input class="form-control" name="company" id="company" type="text" placeholder={{ _('Company') }} required>   
        <input class="form-control" name="title" id="title" type="text" placeholder={{ _('Title') }} required>
        <input class="form-control" name="city" id="city" type="text" placeholder={{ _('City') }} required>
        <button class="btn btn-primary" type="submit">{{ _('Next') }}</button>
        <span></span>
      </form>
    </div>
{% endblock %}
