{% extends "alayout.html" %}
{% block headjs %}
<script src="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.js"></script>
<link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css"/>
<script>
  Dropzone.options.imgUpload = {
    dictDefaultMessage: "{{ _('Drag your image here---->') }}",
    acceptedFiles: "image/*", // Accept images only
    //maxFiles: "1",
    addRemoveLinks: "true",
    maxFilesize: 3,
    init: function() {
      this.on("success", function(file, response) {
        alert("{{ _('Image uploaded') }}");
        $("#user_icon").attr("src", $("#domain").val()+response.key+'?'+Math.random());
        $.ajax({
          url: '/up_employer_icon',
          type: 'POST',
          data: {'key': response.key,
                },
        });
      });
    }
  };
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/js/bootstrap-select.min.js"></script>
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/css/bootstrap-select.min.css' type='text/css' media='all' />
<script>  $('.selectpicker').selectpicker();</script>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>
{% endblock headjs %}
{% block title %}{{ _('Profile') }}{% endblock %}
{% block body %}
<div class="container" style="padding-top: 50px;" >
  <!-- edit form column -->
    <section>
      <h4>{{ _("Let's setup your employer profile.") }}</h4>
      <div align="center">
        <input id='domain' value="http://7xlcr1.com1.z0.glb.clouddn.com/" type="hidden">
        <form action="http://upload.qiniu.com/" class="dropzone" id="img-upload">
          <input name="key" type="hidden" value="{{ key }}" id="key">
          <input name="token" type="hidden" value="{{ token }}" id="token">
        </form>
        <img src="{{ user.icon }}" autofocus class="img-circle center-block" width=200 height=200 alt="{{ _('no new icon') }}" id="user_icon">
      </div>
      <h6>{{ _('All fields are required.') }}</h6>
      <form class="form-signin" method="post" action="/add_employer_info">
        <input class="form-control" name="name" id="name" type="text" placeholder={{ _('Name') }} required>
        <input class="form-control" name="company" id="company" type="text" placeholder={{ _('Company') }} required>   
        <input class="form-control" name="title" id="title" type="text" placeholder={{ _('Title') }} required>
        <select class="selectpicker show-tick" data-style="btn-success" id="city">
          <option>{{ _('Beijing') }}</option>
          <option>{{ _('Shanghai') }}</option>
          <option>{{ _('Hangzhou') }}</option>
          <option>{{ _('Shenzhen') }}</option>
          <option>{{ _('Guangzhou') }}</option>
          <option>{{ _('Chengdu') }}</option>
          <option>{{ _('Other') }}</option>
        </select>
      </form>
      <p></p>
      <a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">{{ _('Example') }}</a>
      <p></p>
      <button class="btn btn-primary" type="button" id="submit">{{ _('Next') }}</button>
      <span></span>
    </section>

<script>
  window.jQuery(document).ready(function($) {
    $("#submit").click(function() {
      var city=$(".selectpicker#city").val();
      var name=$("#name").val();
      var company=$("#company").val();
      var title=$("#title").val();
      if (!city || !name || !company || !title){
        alert("{{ _('Parameters required') }}");
        return
      }
      $.ajax({
        url: '/add_candidate_info',
        type: 'POST',
        data: {'city': city,
               'name': name,
               'company': company,
               'title': title,
              },
        success: function (result) {
            //alert(result);
            window.location.href='/add_jd_info';
        }
      });
    });    
  }); 
</script>
{% endblock %}
