{% extends "alayout.html" %}
{% block title %}Profile{% endblock %}
{% block body %}
	
	<div class="container">
	<div class="row">
	<div class="col-lg-24 col-sm-48">
            <div class="card hovercard">
                <div class="avatar">
                    <img alt="" src="{{ user.icon }}">
                </div>
                <div class="info">
                    <div class="title">{{ user.username }}</div>
		    <div class="school">Babson College - Boston, CA</div>
		    <div class="school">(B.A. '18 candidate)</div>
                    <div class="desc"><b>About me:</b>Year 3 comp sci major,Greek lit minor.</div>
		    <div class="desc">Want to help any mobile app in O2O space</div>
		    <div class="desc">Email: {{ user.email }} </div>
		    <div class="school">95% approval (5 reviews)</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/wangtuobin">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/u/0/110311167272835305548/posts">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://www.facebook.com/tuobin.wang">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>
        </div>
	</div>
	</div>
{% endblock %}
