{% extends "alayout.html" %}
{% block headjs %}
<script src="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.js"></script>
<link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css"/>
<script>
  Dropzone.options.imgUpload = {
    dictDefaultMessage: "{{ _('Drag your image here---->') }}",
    acceptedFiles: "image/*", // Accept images only
    addRemoveLinks: "true",
    //maxFiles: 1,
    maxFilesize: 3,
    init: function() {
      this.on("success", function(file, response) {
        alert("{{ _('Image uploaded') }}");
        $("#user_icon").attr("src", $("#domain").val()+response.key+'?'+Math.random());
        $.ajax({
          url: '/up_user_icon',
          type: 'POST',
          data: {'key': response.key,
                },
        });
      });
    }
  };
</script>
{% endblock headjs %}
{% block title %}{{ _('Profile') }}{% endblock %}
{% block body %}
<div class="container" style="padding-top: 50px;"  >
    <div>
      <div align="center">
        <h4>{{ _("Confirm profile") }}</h4>
        <input id='domain' value="http://7xlcr1.com1.z0.glb.clouddn.com/" type="hidden">
        <form action="http://upload.qiniu.com/" class="dropzone" id="img-upload">
          <input name="key" type="hidden" value="{{ key }}" id="key">
          <input name="token" type="hidden" value="{{ token }}" id="token">
        </form>
        <img src="{{ user.icon }}" autofocus class="img-circle center-block" width=200 height=200 alt="{{ _('no new icon') }}" id="user_icon">
        <p><b>{{ user.username }}</b></p>
        <p><b>{{ user.title}}, {{ user.school }}</b></p>
        <p>{{ user.city }}</p>
        <p></p>
        {#
        <p>{{ _('About me') }} </p>
        <p>{{ user.profile }} </p>
        #}
        <form method="get" action='/search'>
          <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _("Get started") }}</button>
        </form>
      </div>
    </div>
{% endblock %}
