{% extends "alayout.html" %}
{% block headjs %}
<script src="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.js"></script>
<link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css"/>
<script>
  Dropzone.options.imgUpload = {
    dictDefaultMessage: "{{ _('Drag your image here---->') }}",
    acceptedFiles: "image/*", // Accept images only
    addRemoveLinks: "true",
    //maxFiles: 1,
    maxFilesize: 3,
  };
</script>
{% endblock headjs %}
{% block title %}{{ _('Profile') }}{% endblock %}
{% block body %}
<div class="container" style="padding-top: 50px;"  >
    <div>
      <div align="center">
        <h4>{{ _("Confirm profile") }}</h4>

        <form action="/upload_user_icon" class="dropzone" id="img-upload"></form>
 
        <p><b>{{ user.username }}</b></p>
        <p><b>{{ user.title}}, {{ user.school }}</b></p>
        <p>{{ user.city }}</p>
        <p></p>
        {#
        <p>{{ _('About me') }} </p>
        <p>{{ user.profile }} </p>
        #}
        <form method="get" action='/search'>
          <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _("Get started") }}</button>
        </form>
      </div>
    </div>
{% endblock %}
