{% extends "alayout.html" %}
{% block title %}{{ _('Manage Projects') }}{% endblock %}
{% block headjs %}
  <script src="//cdn.bootcss.com/angular.js/1.3.15/angular.min.js"></script>
  <link rel='stylesheet' href='css/loading-bar.min.css' type='text/css' media='all' />
  <script type='text/javascript' src='js/loading-bar.min.js'></script>
  <script type='text/javascript' src='js/uploadImage.js'></script>
  <script type='text/javascript' src='http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js'></script>
  <script>
    window.jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
      });
    });
  </script>

{% endblock headjs %}
{% block body %}
  <div ng-app="formApp" class="container" >
    <div class="row">
      <div class="">
        <h2 class="page-header">{{ _('My Projects') }}:</h2>
        <div class="col-sm-4 portfolio-item" >
          <p><b>{{ _('My Projects Number') }}: {{ project_num }}</b><p>
        </div>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>{{ _('Project Title') }}</th>
                <th>{{ _('Client') }}</th>
                <th>{{ _('Image') }}</th>
              </tr>
            </thead>
            <tbody>
              {% for project in projects %}
              <tr class="{{ cls[project.id] }} clickable-row" data-href='/project_info?project_id={{ project.id }}'>
                <td>{{ project.title }}</td>
                <td>{{ project.client }}</td>
                <td><img src="{{ project.image_url }}" class="img-rounded" alt="Cinque Terre" width="80" height="60"></td>
              </tr>
              {% else %}
              {{ _('no projects') }}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
