{% extends "alayout.html" %}
{% block headjs %}
<script src="//cdn.bootcss.com/angular.js/1.3.15/angular.min.js"></script>
<link rel='stylesheet' href='css/loading-bar.min.css' type='text/css' media='all' />
<script type='text/javascript' src='js/loading-bar.min.js'></script>
<script type='text/javascript' src='js/uploadImage.js'></script>
{% endblock headjs %}
{% block title %}{{ _('New Project') }}{% endblock %}
{% block body %}
<div class="container" style="padding-top: 100px;" ng-app="formApp">
  <!-- edit form column -->
  <div class="personal-info col-md-7">

    <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a> 
      <i class="fa fa-coffee"></i>
      {{ _('You can add your new project now') }}
    </div>

    <div class="form-group">
      <div class="text-center" ng-controller = "myCtrl">
        <h6>{{ _('Please upload a picture for your project') }}</h6>
        <input type="file" name="image" file-model="myFile" class="text-center center-block well well-sm"/>
        <button class="btn btn-primary" ng-click="uploadFile()">{{ _('upload me') }}</button>
      </div>
    </div>

    <form class="form-horizontal" role="form" id="project_form" method="post" action="/create_project">

      <div ng-controller="formController">
        <img ng-init="formData.image='http://media-cache-ak0.pinimg.com/736x/3d/b0/4a/3db04ab7349e7f791d3819b57230751d.jpg'" ng-src="{{ formData.image|angular }}" autofocus class="avatar img-thumbnail img-responsive img-centered" alt="{{ _('no new icon') }}">
        <input class="form-control" name="image_url" id = "image_url" value="{{ formData.image|angular }}" type="hidden">
      </div>

      <h3>{{ _('Project Info') }}</h3>

      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Project Target') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" name="title" id = "title" placeholder="{{ _('Project target you want to make') }}" type="text">
        </div>
      </div>	
      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Project description') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" name="desp" id="desp" placeholder="{{ _('bigger than bigger') }}" type="text">
        </div>
      </div>
      {#
      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Service') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" name="service" id="service" placeholder="{{ _('web app') }}" type="text">
        </div>
      </div>
      #}
      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Client name') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" name="client" id="client" placeholder="{{ _('Shield') }}" type="text">
        </div>
      </div>
      {#
      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Location') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" name="location" id="location" placeholder="{{ _('Virginia') }}" type="text">
        </div>
      </div>
      #}
      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Incentive') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" name="incentive" id="incentive" placeholder="{{ _('100rmb/day or bonus') }}" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Valid Time') }}:</label>
        <div class="col-lg-8">          
          <input class="form-control" name="vt" id="vt" placeholder="{{ _('June to August') }}" typ
e="text">
        </div>
      </div>
      {#
      <div class="form-group">
        <label class="col-lg-3 control-label">{{ _('Client title') }}:</label>
        <div class="col-lg-8">
          <input class="form-control" name="client_title" id="client_title" placeholder="{{ _('Agent Gallow') }}" type="text">
        </div>
      </div>
      #}
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <button class="btn btn-primary" type="submit">{{ _('Submit') }}</button>
          <span></span>
          <a href="/"><input class="btn btn-primary" value={{ _('Cancel') }} type="button"></a>
        </div>
      </div>
    </form>
  </div>
</div>	
{% endblock %}
