{% extends "alayout.html" %}
{% block title %}Publish{% endblock %}
{% block headjs %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
  <script type='text/javascript' src='/js/uploadImage.js'></script>

{% endblock headjs %}
{% block body %}
  <div ng-app="formApp" class="container" >
    <div class="row">
      <div class="">
        <h2 class="page-header">My Projects:</h2>
        <div class="col-sm-4 portfolio-item" >
          <p><b>My Projects Number: {{ project_num }}</b><p>
        </div>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Client</th>
                <th>Image</th>
              </tr>
            </thead>
            <tbody>
              {% for project in projects %}
              <tr class="{{ cls[project.id] }}">
                <td>{{ project.title }}</td>
                <td>{{ project.client }}</td>
                <td><img src="{{ project.image_url }}" class="img-rounded" alt="Cinque Terre" width="80" height="50"></td>
              </tr>
              {% else %}
              no projects
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- TO ADD A PROJECT TO ONE OWNER -->
        <h4>Publish a new project</h4>
        <div ng-controller="formController">
          <form ng-submit="processForm()">
            <!-- PROJECT TITLE -->
            <div id="title-group" class="form-group" ng-class="{ 'has-error' : errorTitle }">
              <label>Title</label>
              <input type="text" name="title" class="form-control" placeholder="Project Title" ng-model="formData.title">
              <span class="help-block" ng-show="errorTitle">{{ errorTitle|angular }}</span>
            </div>

            <!-- PROJECT DESCRIPTION -->
            <div id="desp-group" class="form-group" ng-class="{ 'has-error' : errorDesp }">
              <label>Description</label>
              <input type="text" name="desp" class="form-control" placeholder="Project Description" ng-model="formData.desp">
              <span class="help-block" ng-show="errorDesp">{{ errorDesp|angular }}</span>
            </div>

            <!-- PROJECT INCENTIVE -->
            <div id="incentive-group" class="form-group" ng-class="{ 'has-error' : errorIncentive }">
              <label>Incentive</label>
              <input type="text" name="incentive" class="form-control" placeholder="Project Incentive" ng-model="formData.incentive">
              <span class="help-block" ng-show="errorIncentive">{{ errorIncentive|angular }}</span>
            </div>

            <!-- PROJECT IMAGE -->
            <div id="image-group" class="form-group" ng-class="{ 'has-error' : errorImage }">
              <label>Image Url</label>
              <input type="text" name="image" class="form-control" placeholder="https://www.google.com.hk/images/nav_logo195.png" ng-model="formData.image">
              <span class="help-block" ng-show="errorImage">{{ errorImage|angular }}</span>
            </div>

            <!-- SUBMIT BUTTON -->
            <button type="submit" class="btn btn-success btn-lg btn-block">
              <span class="glyphicon glyphicon-flash"></span> Submit!
            </button>
          </form>
          <!-- pure html file upload
          <title>Upload new File</title>
          <h1>Upload new File</h1>
          <form action="upload_image" method=post enctype=multipart/form-data>
            <p><input type=file name=file>
               <input type=submit value=Upload>
          </form>
          -->
          <!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->
          <div class="col-sm-4 portfolio-item" >
            <pre>
              <p>formData preview:</p>
              {{ formData|angular }}
              <p>project image preview:</p>
              <img ng-src="{{ formData.image|angular }}" autofocus class="img-responsive img-centered" alt="">
            </pre>
          </div>
        </div>

        <!--UPLOAD IMAGE SECTION-->
        <div ng-controller = "myCtrl">
          <input type="file" file-model="myFile"/>
          <button ng-click="uploadFile()">upload me</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
