<div class="col-md-8">
  <h4 class="page-header">{{ _('Review for JD') }}</h4>
  <p><b>{{ _("Confirm your JD application") }}</b></p>
  <div class="media">
    <span class="media-left">
      <img class="img-responsive img-circle" width="100" length="100" src="{{ user.icon }}" />
    </span>
    <div class="media-right">
      <p><b><font size="5">{{ user.username }}</font></b></p>
      <p><b><font size="2">{{ _('School') }}: {{ user.school }}</font></b></p>
      <p><b><font size="2">{{ _('City') }}: {{ user.city }}</font></b></p>  
      {#
      <p><b><font size="2">{{ _('Joined') }}: {{ ucd }}{{ _('d ago') }}</font></b></p>
      #}
    </div>
  </div>

  <div>
    <p>
      <i>
      <font size="3">
      {{ _('About me') }}: {{ user.profile }}
      </font>
      </i>
    </p>
  </div>
 
  <h6>{{ _('Role I am applying for') }}</h6>
  <p>{{ project.title }}</p>
  <p>{{ _('Tags') }}:</p>
  <p>{{ _('Location') }}: {{ project.location}}</p>
  <p>{{ project.desp }}</p>
  <p></p>

  <h6>{{ _('What I can offer (1 min pitch)') }}</h6>
  <p id="pitch_review"></p>
  <p></p>

  <h6>{{ _('Current role') }}</h6>
  <p>{{ user.title }}, {{ user.school }}</p>
  <p></p>

  <p>-- {{ _('Rest of profile') }} --</p>
  <p></p>

  <h6>{{ _('Previous company') }}</h6>  
  <p>...</p>
  <p></p>

  <h6>{{ _('About me') }}</h6>
  <p>{{ user.profile }}</p>
  <p></p>

  <h6>{{ _('Mrew info') }}</h6>
  <p>Focus area: Mobile<p>
  <p>Industry: Internet</p>
  <p>Senority: VP</p>
  <p>Education: Truth University</p>
  <p></p>

  <h6>{{ _('My urls') }}<h6>
  <p>{{ user.refer1 }}</p>
  <p>{{ user.refer2 }}</p>
  <p></p>

  <button class="btn btn-danger sendbutton">
    <span class="glyphicon glyphicon-send"></span>
    {{ _('Confirm') }}
  </button>

</div>
<script>
  $('#pitch_review').text($("textarea#message_send").val())
</script>
<script>
  window.jQuery(document).ready(function($) {
    $(".sendbutton").click(function() {
      $.ajax({
        url: '/apply_confirm',
        type: 'POST',
        data: {'project_id': $("#project_id").val(),
               'pitch': $("#pitch_review").text(),
              },
        success: function (data) {
          alert("{{ _('Application submitted.') }}");
          window.location.href = '/';
        }
      });
    });    
  });
</script>
