<div class="col-md-8">
  <h4 class="page-header">{{ _('Review for JD') }}</h4>
  <p><b>{{ _("Confirm your JD application") }}</b></p>
  <div class="media">
    <span class="media-left">
      <img class="img-responsive img-circle" width="100" length="100" src="{{ user.icon }}" />
    </span>
    <div class="media-right">
      <p><b><font size="5">{{ user.username }}</font></b></p>
      <p><b><font size="2">{{ _('School') }}: {{ user.school }}</font></b></p>
      <p><b><font size="2">{{ _('City') }}: {{ user.city }}</font></b></p>  
      {#
      <p><b><font size="2">{{ _('Joined') }}: {{ ucd }}{{ _('d ago') }}</font></b></p>
      #}
    </div>
  </div>

  <div>
    <p>
      <i>
      <font size="3">
      {{ _('About me') }}: {{ user.profile }}
      </font>
      </i>
    </p>
  </div>
 
  <h6>{{ _('Role I am applying for') }}</h6>
  <p>{{ project.desp }}</p>

</div>
