{% extends "alayout.html" %}
{% block headjs %}
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/js/bootstrap-select.min.js"></script>
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/css/bootstrap-select.min.css' type='text/css' media='all' />
<script>  $('.selectpicker').selectpicker();</script>
{% endblock headjs %}
{% block title %}{{ _('Search1') }}{% endblock %}
{% block body %}
  <section id="portfolio">
    <div class="container">
      <h4>{{ _('Confirm your search criteria') }}</h4>
      
      <div class="row-fluid" align="center">      
        <select class="selectpicker show-tick" data-style="btn-warning">
          <option>Mustard</option>
          <option>Ketchup</option>
          <option>Barbecue</option>
        </select>

        <select class="selectpicker show-tick" data-style="btn-success">
          <option>Beijing</option>
          <option>Shanghai</option>
          <option>Tokyo</option>
        </select>

        <select class="selectpicker show-tick" data-style="btn-info">
          <option>Frontend Engineer</option>
          <option>Devops</option>
          <option>Designer</option>
          <option>UX</option>
          <option>Backend</option>
        </select>
      <div>
      <form action="/project" class="form-signin">
        <input type="submit" value="{{ _('View search results') }}" class="btn btn-lg btn-primary btn-block">
      </form>
    </div>
  </section>
{% endblock %}
