{% extends "alayout.html" %}
{% block headjs %}
<script src="/js/bootstrap-select.min.js"></script>
<link rel='stylesheet' href='/css/bootstrap-select.min.css' type='text/css' media='all' />
<script>  $('.selectpicker').selectpicker();</script>
{% endblock headjs %}
{% block title %}{{ _('Search1') }}{% endblock %}
{% block body %}
  <section id="portfolio">
    <div class="container">
      <h4>{{ _('Search ideal jobs') }}</h4>
      
      <div class="row-fluid" align="center">      

        <select class="selectpicker show-tick" data-style="btn-success" id="location">
          <option>{{ _('Beijing') }}</option>
          <option>{{ _('Shanghai') }}</option>
          <option>{{ _('Hangzhou') }}</option>
          <option>{{ _('Shenzhen') }}</option>
          <option>{{ _('Guangzhou') }}</option>
          <option>{{ _('Chengdu') }}</option>
          <option>{{ _('Other') }}</option>
        </select>

        <select class="selectpicker show-tick" data-style="btn-info" id="role">
          <option>Frontend Engineer</option>
          <option>Devops</option>
          <option>Designer</option>
          <option>UX</option>
          <option>Backend</option>
        </select>
      <div>

      <p></p>

      {#
      <input type="text" class="form-control sm-4" placeholder="{{ _('Keywords') }}" id="s4"/>
      #}

      <span class="input-group-btn">
        <button class="btn btn-danger sendbutton" type="button">
          <i class="glyphicon glyphicon-search"></i>
          {{ _('Search') }}
        </button>
      </span>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" 
              href="#collapseOne">
              {{ _('Alert me of new matching jobs.') }}
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse out">
          <div class="checkbox">
            <label><input type="checkbox" value="">{{ _('Alert me of new matching jobs.') }}</label>
          </div>
          <label>{{ _('Frequency') }}</label>
          <select class="selectpicker show-tick" data-style="btn-primary" id="fq">
            <option>{{ _('Every day') }}</option>
            <option>{{ _('Each week') }}</option>
          </select>
        </div>
      </div>


      {#
      <form action="/project" class="form-signin">
        <input type="submit" value="{{ _('View search results') }}" class="btn btn-lg btn-primary btn-block">
      </form>
      #}
      <p>...</p>
      {#
      <button class="btn btn-danger sendbutton">
        <span class="glyphicon glyphicon-send"></span>
        {{ _('Search') }}
      </button>
      #}
    </div>
    
    <div id="sr">
    </div>
    
  </section>
<script>
  window.jQuery(document).ready(function($) {
    $(".sendbutton").click(function() {
      $.ajax({
        url: '/search2',
        type: 'POST',
        data: {'role': $(".selectpicker#role").val(),
               'location': $(".selectpicker#location").val(),
              },
        success: function (result) {
            //alert(result);
            $("#sr").html(result);
            $('html,body').animate({
              scrollTop: $("#sr").offset().top},
              'slow'
            );
        }
      });
    });    
  }); 
</script>
{% endblock %}
