{% extends "alayout.html" %}
{% block title %}{{ _('Users') }}{% endblock %}
{% block body %}
    <!-- Project Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Users</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <form class="form-filter" method="post">
              <div>
              <select class="form-control" data-style="btn-success" name="filter">
                <option value="0" {% if filter==0 %} selected="selected" {% endif %}>{{ _("All users") }}</option>
                <option value="1" {% if filter==1 %} selected="selected" {% endif %}>{{ _("Project owners") }}</option>
                <option value="2" {% if filter==2 %} selected="selected" {% endif %}>{{ _("Developers") }}</option>
              </select>
              <button class="btn btn-primary" type="submit">{{ _("Filter") }}</button>
              </div>
            </form> 
            <div class="row">
                {% for user in users %}
                <div>
                        <div class="col-sm-4 portfolio-item" >
                            <img autofocus src="{{ user.icon }}" class="img-responsive img-centered" alt="">
                            <div id="loctimebox">
                                <p class="alignleft" style="float:left;"><i>{{ user.username }}</i></p>
                                <p class="alignright" style="float:right;"><i>{{ user.school }}, {{ user.city }}</i></p>
                            </div>
                            <div style="clear: both;"></div>
                            <p>
                            {% if user.role==USER_STUDENT %}
                              <span class="label label-info">{{ _('Developer') }}</span>
                            {% else %}
                              <span class="label label-success">{{ _('Project owner') }}</span>
                            {% endif %}
                            {% if user.approved == 1 %}
                              <span class="label label-danger glyphicon glyphicon-thumbs-up">{{ _('Approved') }}</span>
                            {% endif %}
                            </p>
                            <p><b>{{ _('About me') }}: </b>{{ user.profile }}</p>
                            <p><b>{{ _('Review') }}: </b>95% {{ _('approval') }} (5 {{ _('reviews') }})</p>
			    <div class="bottom">
                    	    	<a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com">
                            		<i class="fa fa-twitter"></i>
                                </a>
                    	    	<a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com">
                       			<i class="fa fa-google-plus"></i>
                    	    	</a>
                    	    	<a class="btn btn-primary btn-sm" rel="publisher" href="https://www.facebook.com">
                        		<i class="fa fa-facebook"></i>
                    	    	</a>
                    	    	<a class="btn btn-warning btn-sm" rel="publisher" href="https://www.github.com">
                        		<i class="fa fa-behance"></i>
                    	    	</a>
                	    </div>
			</div>
                </div>
                {% else %}
                <li><em>{{ _("There's no user so far.") }}</em>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
