{% extends "alayout.html" %}
{% block title %}Users{% endblock %}
{% block body %}
    <!-- Project Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Users</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for user in users %}
                <div>
                        <div class="col-sm-4 portfolio-item" >
                            <img autofocus src="{{ user.icon }}" class="img-responsive img-centered" alt="">
                            <div id="loctimebox">
                                <p class="alignleft" style="float:left;"><i>{{ user.username }}</i></p>
                                <p class="alignright" style="float:right;"><i>{{ user.school }}, {{ user.city }}</i></p>
                            </div>
                            <div style="clear: both;"></div>
                            <p><b>About me: </b>{{ user.profile }}</p>
                            <p><b>Review: </b>95% approval (5 reviews)</p>
			    <div class="bottom">
                    	    	<a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/wangtuobin">
                            		<i class="fa fa-twitter"></i>
                   	    	</a>
                    	    	<a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com/u/0/110311167272835305548/posts">
                       			<i class="fa fa-google-plus"></i>
                    	    	</a>
                    	    	<a class="btn btn-primary btn-sm" rel="publisher" href="https://www.facebook.com/tuobin.wang">
                        		<i class="fa fa-facebook"></i>
                    	    	</a>
                    	    	<a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        		<i class="fa fa-behance"></i>
                    	    	</a>
                	    </div>
			</div>
                </div>
                {% else %}
                <li><em>There's no user so far.</em>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
