<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>mei12356</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/waterfall.css">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8217481143192443",
        enable_page_level_ads: true
      });
    </script>
</head>

<body>
<div id="header">
    <h1>mei12356</h1>
</div>

    <div id="container0" align="center">
        <div class="grid">
            <div class="imgholder"><img class="lazy" src="http://ac-9dv47dhd.clouddn.com/4d66dbf20b9b68609551.gif"   /></div>
            <font size="7" face="Verdana">
            <a href="https://itunes.apple.com/cn/app/fun-pic-2017/id1230362219">
            Apple Download🍎📱⤵️ 📱  ({{ imc }})
            </a>
            <p></p>
            <a href="http://ac-9dv47dhd.clouddn.com/552e901056b9666b2717.apk">
            Android Download(1.3)⤵️ 📱
            </a>
            <p></p>
            <a href="https://play.google.com/store/apps/details?id=com.hgxx.go">
            Hot Girls X.x (Google Play)⤵️ 📱
            </a>
            </font>
            <p></p>
            <strong>
            <font size="10" face="Verdana">
            美妞12356
            <p></p>
            mei12356.com
            </font>
            </strong>
        </div>
        <div class="grid">
            <p>美图{{ mc }}张 📷 {{ mc }} photos📷 </p>
            <p>网站免费，无广告🈚️ </p>
            <a href='http://mei12356.com/sexy_avi'>美女集中营</a>
            <p>free web service, no ad, consider to support</p>
            <div id="appnextiframe"></div>
        </div>
    </div>

<div id="container"></div>
<script type="text/x-handlebars-template" id="waterfall-tpl">
{% raw %}
{{#result}}
    <div class="item">
        <img src="{{image}}" width="{{width}}" height="{{height}}" />
    </div>
{{/result}}
{% endraw %}
</script>
<script src="js/jquery.js"></script>
<script src="js/handlebars.js"></script>
<script src="js/waterfall.min.js"></script>
<script>
$('#container').waterfall({
    itemCls: 'item',
    colWidth: 222,  
    gutterWidth: 15,
    gutterHeight: 15,
    checkImagesLoaded: false,
    path: function(page) {
        return 'data?page=' + page;
    }
});
</script>
</body>
</html>
